.all-scroll-cursor {
		cursor: all-scroll;
}

.pointer-cursor {
		cursor: pointer;
}

.done-true {
		text-decoration: line-through;
		color: grey;
}

.list-striped > li {
		line-height: 20px;
		padding: 8px;
		border-top: 1px solid #dddddd;
}

.list-striped li:nth-child(odd) {
		background-color: #f9f9f9;
}

.pad-bottom {
		padding-bottom: 15px;
}

.editing-item {
		margin-top: -5px;
		display: none;
}

.viewing-item {
		display: inline;
}

.drag-icon {
		margin-top: -5px;
}