<!--
		Copyright 2013 Joshua Marsh. All rights reserved.
		Use of this source code is governed by a BSD-style
		license that can be found in the LICENSE file.
	-->
<div class="row">
	<div class="span6 offset3">
		<h1 class="pointer-cursor"
				data-ng-click="edit('title', -2)" data-ng-hide="editing == -2">{{recipe.Name}}</h1>
		<!-- This is the edit field that will show up when the name is clicked. -->
		<input data-ng-hasfocus="editing == -2"
					 class="editing-item" data-ng-show="editing == -2"
					 type="text" data-ng-model="recipe.Name">

		<div class="clearfix">
			<!-- The table header with buttons. -->
			<div class="pad-bottom pull-right">
				<a role="button" class="btn" 
					 href="#copyModal"
					 data-toggle="modal"
					 data-ng-click="getlists()"
					 data-ng-class="{'btn-primary': !dirty}"
					 data-ng-disabled="dirty">
					<i class="icon-plus"
						 data-ng-class="{'icon-white': !dirty}"
						 ></i>
					Add To List
				</a>
				<button class="btn" 
					 data-ng-class="{'btn-success': dirty}"
					 data-ng-disabled="!dirty"
					 data-ng-click="save()">
					<i class="icon-hdd"
						 data-ng-class="{'icon-white': dirty}"
						 ></i>
					Save
				</button>
			</div>
			<div class="pad-bottom pull-left">
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="span6 offset3">
		<h2>Ingredients</h2>
		<ul class="unstyled list-striped" id="sortableIngredients">
			<li id="recipe-Ingredients-{{$index}}"
					data-ng-repeat="ingredient in Ingredients">
				<div>
					<div class="pull-right btn btn-info drag-icon">
						<i class="all-scroll-cursor icon-align-justify icon-white"></i>
					</div>
					<div>
						<!-- This is the text box that will show up when the
								 item is clicked. -->
						<input id="editing-ingredient-{{$index}}"
									 data-ng-hasfocus="editing == $index && editingtype == 'ingredient'"
									 data-ng-show="editing == $index && editingtype == 'ingredient'"
									 class="editing-item" 
									 type="text" data-ng-model="ingredient.value">
						<span id="viewing-ingredient-{{$index}}" 
									data-ng-hide="editing == $index && editingtype == 'ingredient'"
									class="viewing-item"
									data-ng-click="edit($index,'ingredient')">
							{{ingredient.value}}
						</span>
					</div>
				</div>
			</li>
		</ul>
		<ul class="unstyled">
			<li>
				<form name="addIngredientForm" class="form-inline"> 
					<div class="control-group"
							 data-ng-class="{error: addIngredientForm.newingredient.$invalid}">
						<input class="input-block-level" id="newingredient" 
									 name="newingredient" placeholder="Add an ingedient"
									 type="text" data-ng-model="toadd['Ingredients']" required>
					</div>
					<button class="btn btn-primary pull-right" data-ng-click="add('Ingredients')"
									data-ng-disabled="addIngredientForm.$invalid">
						<i class="icon-plus icon-white"></i>
						Add
					</button>
				</form>
			</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="span6 offset3">
		<h2>Directions</h2>
		<ul class="unstyled list-striped" id="sortableDirections">
			<li id="recipe-Directions-{{$index}}"
					data-ng-repeat="direction in Directions">
				<div>
					<div class="pull-right btn btn-info drag-icon">
						<i class="all-scroll-cursor icon-align-justify icon-white"></i>
					</div>
					<div>
						<!-- This is the text box that will show up when the
								 item is clicked. -->
						<input id="editing-direction-{{$index}}"
									 data-ng-hasfocus="editing == $index && editingtype == 'direction'"
									 data-ng-show="editing == $index && editingtype == 'direction'"
									 class="editing-item" 
									 type="text" data-ng-model="direction.value">
						<span id="viewing-direction-{{$index}}" 
									data-ng-hide="editing == $index && editingtype == 'direction'"
									class="viewing-item"
									data-ng-click="edit($index,'direction')">
							{{direction.value}}
						</span>
					</div>
				</div>
			</li>
		</ul>
		<ul class="unstyled">
			<li>
				<form name="addDirectionForm" class="form-inline"> 
					<div class="control-group"
							 data-ng-class="{error: addDirectionForm.newdirection.$invalid}">
						<textarea class="input-block-level" id="newdirection" name="newdirection" placeholder="Add a direction"
									 data-ng-model="toadd['Directions']" required></textarea>
					</div>
					<button class="btn btn-primary pull-right" data-ng-click="add('Directions')"
									data-ng-disabled="addDirectionForm.$invalid">
						<i class="icon-plus icon-white"></i>
						Add
					</button>
				</form>
			</li>
		</ul>
	</div>
</div>

<!-- This is the modal that pops up when the copy button is
pressed. -->
<div id="copyModal" class="modal hide">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" 
						aria-hidden="true">&times;</button>
    <h3>Copy Ingredients To List</h3>
  </div>
  <div class="modal-body">
		<form name="copylist">
			<div class="control-group"
					 data-ng-class="{error: copylist.copyName.$invalid}">
				<label>List</label>
				<select name="copyList" data-ng-model="copyList" 
								data-ng-options="l.Name for l in lists" required>
				</select>
				<span data-ng-show="copylist.copyName.$error.required" 
							class="help-inline">
					Required
				</span>
			</div>
		</form>
  </div>
  <div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">
			<i class="icon-remove-sign"></i>
			Cancel
		</button>
		<button data-ng-click="copy()" data-ng-disabled="copylist.$invalid"
						data-dismiss="modal" aria-hidden="true"
						class="btn btn-primary">
			<i class="icon-file icon-white"></i>
			Copy
		</button>
  </div>
</div>

