<div class="row">
	<div class="span6 offset3">
		<h1>New List</h1>
		<form name="newlist">
			<div class="control-group" data-ng-class="{error: newlist.name.$invalid}">
				<label>Name</label>
				<input type="text" name="name" data-ng-model="name" required>
				<span data-ng-show="newlist.name.$error.required" class="help-inline">
					Required
				</span>
			</div>
			<div>
				<button data-ng-click="save()" data-ng-disabled="newlist.$invalid"
								class="btn btn-primary">Save</button>
				<button data-ng-click="back()" class="btn">Cancel</button>
			</div>
		</form>
	</div>
</div>
