<div class="row">
	<div class="span6 offset3">
		<h1>{{list.Name}}</h1>
		<div class="clearfix">
			<div class="pad-bottom pull-right">
				<button class="btn btn-warning" 
								data-ng-click="clean()">
					<i class="icon-trash icon-white"></i>
					Clean
				</button>
				<button class="btn btn-danger" 
								data-ng-disabled="!updatable"
								data-ng-click="update()">
					<i class="icon-refresh icon-white"></i>
					Update
				</button>
				<button class="btn btn-success" 
								data-ng-disabled="!dirty"
								data-ng-click="save()">
					<i class="icon-hdd icon-white"></i>
					Save
				</button>
			</div>
			<div class="pad-bottom pull-left">
				<form class="form-inline"> 
					<input class="pull-left" placeholder="Add an item"
								 type="text" data-ng-model="newitem">
					<button class="pull-left btn btn-primary" data-ng-click="add()">
						<i class="icon-plus icon-white"></i>
						Add
					</button>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="span6 offset3">
		<div data-ng-show="list.Items.length > 0">
			<ul class="unstyled list-striped" id="sortablelist">
				<li id="list-item-{{$index}}"
						data-ng-repeat="item in list.Items | filter:noshow">
					<label class="checkbox">
						<input type="checkbox" data-ng-change="check(item)" 
									 data-ng-model="item.Completed"> <span class="done-{{item.Completed}}">{{item.Name}}</span>
						<div class="pull-right btn btn-info drag-icon">
							<i class="all-scroll-cursor icon-align-justify icon-white"></i>
						</div>
					</label>
				</li>
			</ul>
		</div>
		<div data-ng-hide="list.Items.length > 0">
			<ul class="unstyled list-striped">
				<li>
					There are no items.
				</li>
		</div>
	</div>
</div>

<div id="updateModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>You have unsaved changes!</h3>
  </div>
  <div class="modal-body">
    <p>You have unsaved changes. What would you like to do?</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">
			Cancel
		</button>
		<button class="btn btn-danger" 
						data-ng-click="updateoverwrite()">
			<i class="icon-remove icon-white"></i>
			Overwrite
		</button>
		<button class="btn btn-info" 
						data-ng-click="updatemerge()">
			<i class="icon-tasks icon-white"></i>
			Merge
		</button>
  </div>
</div>

<div id="cleanModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Are You Sure?</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to clean up completed items in this list?</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">
			Cancel
		</button>
		<button class="pull-right btn btn-warning" 
						data-ng-click="sureclean()">
			<i class="icon-trash icon-white"></i>
			Clean
		</button>
  </div>
</div>
